/**
 * Water.css overrides
 */

:root {
  --text-muted: #767676; /* Lighthouse audit */
}

pre {
  font-size: unset; /* Microsoft EdgeHTML 18 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arimo, "Liberation Sans", Arial, sans-serif;
}

code, samp, time, var, kbd {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 0.85em;
}

footer {
  padding-top: 0;
}

table {
  width: auto;
}

/**
 * Water.css additions
 */

header, nav {
  text-align: center;
}

header > a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav > ul {
  padding: 0;
  list-style-type: none;
  line-height: 2;
}

nav > ul > li {
  display: inline;
  padding-left: 1em;
  white-space: nowrap;
  color: var(--links);
}

nav > ul > li:first-child {
  padding-left: 0;
}

h3, footer {
  clear: both;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-variant-numeric: tabular-nums;
}

/**
 * Other rules
 */

.right {
  float: right;
  padding: 0 0 1em 1em;
}

.left {
  float: left;
  padding: 0 1em 1em 0;
}

.sc {
  font-variant: small-caps;
}
